<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{title}}</title>
    <style>
    h1 {
        color:Red ;
        font-family: verdana;
        font-size: 400%
    }
    p{
        color: blue; 
        font-family: courier;
        font-size: 200%
    }
​
    </style>
</head>
<body>
   
  <h1>Coding Academy</h1>
  
  <p>Amman Jordan </p>
 
</body>
</html>